@{
    ViewBag.Title = "Home :: Galaxy";;
}

    <div class="limited-width-container">
        <h1>Welcome to Galaxy</h1>
        @Html.ActionLink($"Login", "Login", "Account", "", new { @class = "button" })
        @Html.ActionLink($"SignUp", "SignUp", "Account", "", new { @class = "button" })
    </div>